body{
	background: #F2F2F2;
}
.form-login{
	width: 300px;
    margin: auto;
    margin-top: 10%;
    background: white;
    border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.form-login h2 {
	background: #68DFF0;
	padding: 4%;
	font-size: 1.5em;
	text-align: center;
	color: white;
	text-transform: uppercase;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.login-wrap{
	padding: 4%;
}
.registration{
	text-align: center;
}
